<?php
/**
 * @var \Phalcon\Mvc\View\Engine\Php $this
 */
?>

<?php use Phalcon\Tag; ?>

<div class="row">
    <nav>
        <ul class="pager">
            <li class="previous"><?php echo $this->tag->linkTo(array("users/index", "Вернутся")); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(array("users/new", "Создать ")); ?></li>
            <li class="next"><?php echo $this->tag->linkTo(array("users/aggregate", "Создать 10 человек")); ?></li>
        </ul>
    </nav>
</div>

<div class="page-header">
    <h1>Результат поиска</h1>
</div>


<div class="row"> <!-- table users -->
    <?php $this->partial("users/elements/table_users"); ?>
</div>

<!-- модальное окно перевода денежных средств-->

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2>шаг {{action.step}} из 3-х</h2>
                <h4 class="modal-title" id="myModalLabel">
                    Отправитель: <strong>{{action.userName}} (договор: {{action.userID}})</strong>, доступных средств <span>{{action.userBalance}}</span><br>
                    Получатель: <strong>{{action.receivingUserName}} (договор: {{action.receivingUserID}})</strong>, доступных средств <span>{{action.receivingUserBalance}}</span><br>
                </h4>
            </div>


            <div class="modal-body" ng-show="action.step === 1">
                <?php $this->partial("users/elements/user_finder"); ?>
            </div>

            <div class="modal-body" ng-show="action.step === 2">
                <?php $this->partial("users/elements/step_2"); ?>
            </div>

            <div class="modal-body" ng-show="action.step === 3">
                <?php $this->partial("users/elements/step_3"); ?>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="action.setStep(1)">Закрыть</button>
                <button type="button" class="btn btn-primary" id="stepTwo"  ng-hide="action.step == 3" ng-show="action.step == 2" ng-click="action.setStep(1)">назад</button>
                <button type="button" class="btn btn-primary" id="stepTwo" ng-hide="action.step == 3 || action.step == 2" ng-show="action.step == 1" ng-disabled="action.row === 0" ng-click="action.setStep(2)">Далее</button>
                <button type="button" class="btn btn-primary" id="stepTwo" ng-hide="action.step == 3 || action.step == 1" " ng-show="action.step == 2" ng-disabled="action.setStepSumm > action.userBalance || myForm.$error.min" ng-click="action.setStep(3); action.Transfer()">Далее</button>
            </div>
        </div>
    </div>
</div>
<!-- Шаблон формы -->
