<!--- DIV MESSAGE INFO -->

<div ng-show="success" class="alert alert-success">
    <h2>Трансакция успешно была выполнена</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Отправитель: </h3>
            договор: {{transmit.id}}<br>
            имя :{{transmit.name}}<br>
            текущий баланс: {{transmit.balance}}
        </div>
        <div class="col-md-4">
            <h3>Сумма перевода</h3>
            <h2> {{transferAmount}}</h2>

        </div>
        <div class="col-md-4">
            <h3>Получатель:</h3>
            договор: {{receiving.id}}<br>
            имя :{{receiving.name}}<br>
            текущий баланс: {{receiving.balance}}
        </div>
    </div>
</div>

<div ng-show="error" class="alert alert-danger">
    {{error}}
</div>