<form class="form-inline" name="myForm" style="margin-bottom: 15px" >

    <!--- DIV MESSAGE INFO -->

    <!--<div ng-hide="action.setStepSumm > action.userBalance && action.setStepSumm === ''" class="alert alert-success">
        Баланс отправителя: {{action.summ}} Сумма перевода {{action.setStepSumm}}
    </div>-->

    <div ng-show="myForm.$error.min" class="alert alert-danger">
        Значение не должно быть отрицательным
    </div>

    <div ng-show="action.setStepSumm > action.userBalance" class="alert alert-danger">
        Перевод денежных средств невозможен, сумма перевода превысила допустимый лимит
    </div>

    <div>
        <h2>Баланс отправителя: {{action.summ}}</h2>
        <h2>Сумма перевода: {{action.setStepSumm}}</h2>
    </div>



    <div class="form-group">
        <label for="exampleInputEmail2">{{count}}</label>
        <input
            type="number"
            min="0"
            ng-change="action.verify(action.setStepSumm);"
            ng-model="action.setStepSumm"
            class="form-control"
            placeholder="сумма перевода">
    </div>

</form>