<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Имя</th>
        <th>Баланс</th>

        <th></th>
    </tr>
    </thead>
    <tbody id="UsersTable">
    <tr ng-repeat="user in data1.users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.balance}}</td>
        <td>
            <!-- Button trigger modal -->
            <button
                ng-click="action.setUser(user.id, user.name, user.balance)"
                type="button"
                class="btn btn-primary transmit"
                data-toggle="modal" data-target="#myModal">
                перевести средства
            </button>

        </td>
    </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-1">
        <p class="pagination" style="line-height: 1.42857;padding: 6px 12px;">
            {{data1.paginate.current}} / {{data1.paginate.total_pages}}
        </p>
    </div>
    <div class="col-sm-11">
        <nav>
            <ul class="pagination">
                <li><a href="#first" ng-click="action.divide = true; action.FindUsers({'page' : 1})">первая</a></li>
                <li><a href="#before" ng-click="action.divide = true; action.FindUsers({'page' : data1.paginate.before})"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></li>
                <li><a href="#next" ng-click="action.divide = true; action.FindUsers({'page' : data1.paginate.next})"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                <li><a href="#last" ng-click="action.divide = true; action.FindUsers({'page' : data1.paginate.last})">последняя</a></li>
            </ul>
        </nav>
    </div>
</div>