<form class="form-inline" style="margin-bottom: 15px" >

    <div class="form-group">
        <label for="exampleInputEmail2">{{count}}</label>
        <input
            ng-keyup="
                            action.FindUsers({'name': action.findUserName || '', 'id' : action.findUserID || '', 'exclusion': action.userID})"
            ng-model="action.findUserName"
            class="form-control" id="name" placeholder="имя абонента">
    </div>

    <div class="form-group">
        <label for="exampleInputName2"></label>
        <input
            ng-keyup="
                            action.FindUsers({'name': action.findUserName || '', 'id' : action.findUserID || '', 'exclusion' : action.userID})"
            ng-model="action.findUserID"
            class="form-control" id="id" placeholder="номер договора (id)">
    </div>
</form>
<div>
    <h3>Результаты поиска {{data2.paginate.total_items}}</h3>
    <div ng-hide="data2.paginate.total_items">записей не найдено</div>
    <div ng-show="data2.paginate.total_items">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Имя</th>
                <th>Баланс</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            <tr id="rowid_" ng-repeat="user in data2.users" ng-class="{ 'success': action.isRow(user.id) }">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.balance}}</td>
                <td><label class="btn btn-default"> выбрать
                        <input ng-click="
                                        action.receivingUserID = user.id;
                                        action.setRow(user.id);
                                        action.receivingUserName = user.name;
                                        action.receivingUserBalance = user.balance;
                                        " type="radio" name="id"></label></td>
            </tr>

            </tbody>
        </table>

        <div class="col-sm-11">
            <nav>
                <ul class="pagination">
                    <li><a href="#first" ng-click="action.divide = false; action.FindUsers({'page' : 1, 'exclusion' : action.userID})">первая</a></li>
                    <li><a href="#first" ng-click="action.divide = false; action.FindUsers({'page' : data2.paginate.before, 'exclusion' : action.userID})">предыдущая</a></li>
                    <li><a href="#first" ng-click="action.divide = false; action.FindUsers({'page' : data2.paginate.next, 'exclusion' : action.userID})">следующая</a></li>
                    <li><a href="#first" ng-click="action.divide = false; action.FindUsers({'page' : data2.paginate.last, 'exclusion' : action.userID})">последняя</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>